/*------------------------------------------------------------*
  ADMIN page styling
/*------------------------------------------------------------*/
#s_adminPage {
  display: block;
  height: 86vh;
  overflow: scroll;
}
