/*This was written by Martin Jin****************************************************************/
/*Written in term 1 2023****************************************************************/
body {
  color: black;
  font-family: 'verdana';
  overflow: hidden;
}

/*nav bar****************************************************************/
.topnav {
  overflow: auto;
  background-color: #00020b;
  width: 100vw;
}

.topnav a {
  overflow: auto;
  float: left;
  display: block;
  width: 15%;
  color: #BFACE2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #393053;
}

.topnav a.active {
  color: #e2daf2;
  border-bottom: 3px solid #BFACE2;
}

/*titles and sub titles****************************************************************/
.register_title{
  color: #00020b;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.register_h_sub{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 50px;
  background-color: #00020b;
  color: #e2daf2;
  border: none;
  border-color: #BFACE2;
  border-bottom-style: solid;
}

.register_h{
  color: white;
  font-size: 75px;
  text-align: center;
  text-shadow: 2px 2px 8px #BFACE2;
  font-family: "helvetica";
  bottom: 70%;
  position: absolute;
}

/*buttons****************************************************************/
.button {
  border: none;
  padding: 9px 20px;
  text-decoration: none;
  font-size: 16px;
  background-color: #000725; 
  border-style: hidden;
  border-left-style: solid;
  border-width: 2.5px;
  border-color: #BFACE2;
  color: #e2daf2; 
  box-shadow: 0px 0px 4px #BFACE2;
  margin-top: 30px;
  margin-left: 80px;
}

.button:hover {
  color: #BFACE2;
}

/*centering elements****************************************************************/
.center2 {
  text-align: center;
  position: absolute;
  margin: auto;
  width: 100%;
}

/*background for the page****************************************************************/
.register_page{
  background-color: white;
  border: none;
  width: 1000px;
  margin: auto;
  height: 690px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*image****************************************************************/
.register_h_background {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
}

.imageRight {
  padding-right: 80px;
  transition: .4s;
}

.imageRight:hover {
  transform: scale(1.2);
}

.backgroundImage {
  width: 100%;
  height: 100%;
  padding-top: 200px;
  padding-bottom: 300px;
  background-image: url('/images/backgroundRegister.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/*form****************************************************************/
.form {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 15px;
}

.error_msg {
  color: red;
  font-weight: 500;
}

.p_form {
  font-smooth: auto;
  font-weight: 500;
}

.p_radio {
  margin-left: 10px;
}

.p_rules {
  text-align: right;
  line-height: 20px;
  font-size: 15px;
  color: #00020b;
  margin-right: 80px;
  margin-top: 15px;
  font-style: medium;
  font-smooth: auto;
}

.margin_radio {
  margin-top: 7px;
}

.marginTop {
  margin-top: 15px;
}

.marginLeft {
  margin-left: 15px;
}

/*seperator****************************************************************/
.line{
  border: none;
  width: 86%;
  height: 10px;
  margin: auto;
  border-color: #00020b;
  border-top-style: solid;
}

/*footer****************************************************************/
footer{
  border: none;
  color: #BFACE2;
  background-color: #00020b;
  bottom: 0;
  width: 100vw;
  position: fixed;
  height: 55px;
  text-align: center;
  border-color: #BFACE2;
  border-top-style: solid;
}
