/*This was written by Martin Jin****************************************************************/
/*Written in term 1 2023****************************************************************/
body {
  color: black;
  font-family: 'Verdana';
}

/*nav bar****************************************************************/
.topnav {
  overflow: auto;
  background-color: #00020b;
  width: 100vw;
}

.topnav a {
  overflow: auto;
  float: left;
  display: block;
  width: 15%;
  color: #BFACE2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #393053;
}

.topnav a.active {
  color: #e2daf2;
  border-bottom: 3px solid #BFACE2;
}

/*titles and sub titles****************************************************************/
.games_title{
  color: #00020b;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.games_h_sub{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 50px;
  background-color: #00020b;
  color: #e2daf2;
  border: none;
  border-color: #BFACE2;
  border-bottom-style: solid;
}

.games_h{
  color: white;
  font-size: 75px;
  text-align: center;
  text-shadow: 2px 2px 8px #BFACE2;
  bottom: 70%;
  position: absolute;
}

/*buttons****************************************************************/
.button {
  border: none;
  padding: 9px 20px;
  text-decoration: none;
  font-size: 16px;
  background-color: #000725; 
  border-style: hidden;
  border-left-style: solid;
  border-width: 2.5px;
  border-color: #BFACE2;
  color: #e2daf2; 
  box-shadow: 0px 0px 4px #BFACE2;
}

.button:hover {
  color: #BFACE2;
}

.button_align {
  text-align: center;
  margin: auto;
}

/*centering elements****************************************************************/
.center {
  text-align: center;
  position: absolute;
  margin: auto;
  width: 100%;
}

/*background for the page****************************************************************/
.games_page{
  background-color: white;
  border: none;
  width: 1200px;
  padding: 10px;
  margin: auto;
  height: 1800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*paragraphs****************************************************************/
.paragraph{
  padding-left: 80px;
  padding-right: 80px;
  line-height: 20px;
  font-size: 14px;
  font-family: 'Open Sans';
  color: #00020b;
}

/*image****************************************************************/
.games_h_background {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
}

.games_title_img{
  color: white;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.imageRight {
  padding-right: 80px;
  transition: .4s;
}

.imageRight:hover {
  transform: scale(1.2);
}

/*seperator****************************************************************/
.line{
  border: none;
  width: 86%;
  height: 10px;
  margin: auto;
  border-color: #00020b;
  border-top-style: solid;
}

/*footer****************************************************************/
footer{
  border: none;
  color: #BFACE2;
  background-color: #00020b;
  bottom: 0;
  width: 100vw;
  position: fixed;
  height: 55px;
  text-align: center;
  border-color: #BFACE2;
  border-top-style: solid;
}
