/*------------------------------------------------------------*
  General page styling
/*------------------------------------------------------------*/
/*This was written by Martin Jin*/
/*Written in term 2 2023*/
/*Contains general styling used across mutiple pages*/

/*nav bar****************************************************************/
.topnav {
  overflow: auto;
  background-color: #00020b;
  width: 100vw;
  display: none;
}

.topnav a {
  overflow: auto;
  float: left;
  display: block;
  width: 15%;
  color: #BFACE2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #393053;
}

.topnav a.active {
  color: #e2daf2;
  border-bottom: 3px solid #BFACE2;
}

/*seperator****************************************************************/
.line{
  border: none;
  width: 86%;
  height: 10px;
  margin: auto;
  border-color: #00020b;
  border-top-style: solid;
}

/*footer****************************************************************/
footer{
  border: none;
  color: #BFACE2;
  background-color: #00020b;
  bottom: 0;
  width: 100vw;
  position: fixed;
  height: 55px;
  text-align: center;
  border-color: #BFACE2;
  border-top-style: solid;
}